.container {
    display: flex;
    justify-content: space-between;
    min-width: 60%;
    flex-wrap: wrap;
}

.results {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 198px;
    height: 40px;
    margin: 4px;
    border-radius: 8px;
}

.currency {
    font-size: small;
}